.phone {
   color: #ffffff;
   font-family: Gilroy;
   @include adaptiv-font(18, 12);
   font-weight: 500;
   line-height: 35px;

   @media (max-width:$md4+px) {
      display: none;
   }
}

.section {
   position: relative;
   padding-bottom: 50px;
   padding-top: 60px;

   &-head {
      text-align: center;
      margin-bottom: 35px;

      @media (min-width:$md2+px) {
         margin-bottom: 50px;
      }
   }

   &-title {
      @include adaptiv-font(56, 24);
      font-weight: 900;
      line-height: 1.2;

      text-align: center;
      position: relative;
      z-index: 1;
      display: inline-block;

      @media (min-width:$md2+px) {
         line-height: 70px;
      }

      &:before {
         content: '';
         position: absolute;
         top: -16px;
         left: 0;
         background: url(../img/title-decor.png) 0 0 no-repeat;
         background-size: contain;
         z-index: -1;
         width: 75px;
         height: 40px;
         margin-right: -10%;

         @media (min-width:$md3+px) {
            width: 157px;
            height: 67px;
            top: -30px;
            left: 0;
         }

         @media (min-width:1200px) {
            width: 225px;
            height: 112px;
            top: -58px;
         }
      }

      @media (min-width:$md2+px) {
         span {
            display: block;
         }
      }

   }
}