.phone {
   color: #ffffff;
   font-family: Gilroy;
   @include adaptiv-font(18, 12);
   font-weight: 500;
   line-height: 35px;

   @media (max-width:$md4+px) {
      display: none;
   }
}

.section {
   position: relative;

   &-head {
      text-align: center;
   }

   &-title {
      @include adaptiv-font(56, 24);
      font-weight: 900;
      line-height: 1.2;
      margin-bottom: 34px;
      text-align: center;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      @media (min-width:$md2+px) {
         line-height: 70px;
         margin-bottom: 78px;
      }

      &:before {
         content: '';
         /*position: absolute;
         top: 0;
         left: 0;*/
         background: url(../img/title-decor-1.png) 0 0 no-repeat;
         background-size: contain;
         z-index: -1;
         width: 75px;
         height: 40px;
         margin-right: -10%;

         @media (min-width:$md3+px) {
            width: 225px;
            height: 112px;
            top: -52px;
            left: 23%;
         }
      }

      @media (min-width:$md2+px) {
         span {
            display: block;
         }
      }

   }
}