.reviews {
   background-color: #f7f7f7;

   background-image: url(../img/reviews/reviews-bg.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right bottom;


   @media (min-width:$md2+px) {
      padding-top: 105px;
      padding-bottom: 100px;
   }

   &__inner {
      overflow: hidden;
   }

   &__row {
      display: flex;
      flex-wrap: wrap;

      @media (max-width:$md3+px) {
         flex-direction: column;
      }

      @media (min-width:$md3+px) {
         margin: 0 -50px -35px -50px;
      }

      @media (min-width:1200px) {
         margin: 0 -80px -35px -80px;
      }
   }

   &__column {
      flex: 0 1 50%;
      display: flex;
      align-items: center;
      padding-left: 32px;
      position: relative;


      @media (min-width:$md3+px) {
         padding: 0px 50px;
      }

      @media (min-width:1200px) {
         padding: 0px 80px;
      }
   }

   &__item {
      box-shadow: 0 11px 17px 1px rgba(76, 126, 248, 0.17);
      border-radius: 20px;
      margin-bottom: 15px;
      padding: 20px 30px 35px 20px;
      width: 100%;

      @media (max-width:$md3+px) {
         padding: 20px 15px 20px 20px;
      }

      @media (min-width:$md3+px) {
         margin-bottom: 45px;
      }

      img {
         border-radius: 20px;
      }
   }

   &__decor {
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 100%;
      transform: translate(50%, 0);
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width:$md3+px) {
         right: 0;
         left: initial;
         width: 32px;
      }

      &:before {
         content: '';
         width: 2px;
         flex: 1 1 auto;
         background-color: #cca0f2;
      }

      &:after {
         content: '';
         width: 2px;
         flex: 1 1 auto;
         background-color: #cca0f2;

      }

      span {
         display: flex;
         flex-direction: column;
         align-items: center;

         &:before {
            content: '';
            width: 17px;
            height: 17px;
            flex: 0 0 17px;
            background-color: #cca0f2;
            border-radius: 50%;

            @media (min-width:1200px) {
               width: 32px;
               height: 32px;
               flex: 0 0 32px;
            }
         }
      }
   }
}

.item-review {
   &__link {
      display: flex;
      color: #000;

      @media (max-width:$md2+px) {
         flex-direction: column;
      }
   }

   &__foto {
      flex: 0 0 50px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
      position: relative;

      @media (max-width:$md2+px) {
         margin-right: 0;
         margin-bottom: 15px;
      }
   }

   &__content {}

   &__name {
      font-weight: bold;
      margin-bottom: 10px;
   }

   &__text {
      font-size: 14px;
      line-height: 18px;
   }
}

.webp .reviews {
   @media (min-width:$md2+px) {
      background-image: url(../img/reviews/reviews-bg.webp);
   }
}

.social-icon {
   background: url(../img/reviews/reviews-social-icon.png) 0 0 no-repeat;
   width: 20px;
   height: 20px;
   background-size: contain;
   position: absolute;
   bottom: -6px;
   right: -6px;
   border-radius: 50%;
}

.webp .social-icon {
   background: url(../img/reviews/reviews-social-icon.webp) 0 0 no-repeat;
   background-size: contain;
}