.reviews {
   background-color: #f7f7f7;
   padding: 60px 0px 45px 0px;
   background-image: url(../img/reviews/reviews-bg.png);
   background-repeat: no-repeat;
   background-size: 75%;
   background-position: right bottom;

   @media (min-width:$md2+px) {
      padding: 160px 0px 45px 0px;
   }

   &__inner {
      overflow: hidden;
   }

   &__row {
      display: flex;
      flex-wrap: wrap;

      @media (max-width:$md3+px) {
         flex-direction: column;
      }

      @media (min-width:$md3+px) {
         margin: 0 -50px -35px -50px;
      }

      @media (min-width:1200px) {
         margin: 0 -80px -35px -80px;
      }
   }

   &__column {
      flex: 0 1 50%;
      display: flex;
      align-items: center;
      padding-left: 32px;
      position: relative;


      @media (min-width:$md3+px) {
         padding: 0px 50px;
      }

      @media (min-width:1200px) {
         padding: 0px 80px;
      }
   }

   &__item {
      box-shadow: 0 11px 17px 1px rgba(76, 126, 248, 0.17);
      border-radius: 20px;
      margin-bottom: 15px;

      @media (min-width:$md3+px) {
         margin-bottom: 45px;
      }

      img {
         border-radius: 20px;
      }
   }

   &__decor {
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 100%;
      transform: translate(50%, 0);
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width:$md3+px) {
         right: 0;
         left: initial;
         width: 32px;
      }

      &:before {
         content: '';
         width: 2px;
         flex: 1 1 auto;
         background-color: #cca0f2;
      }

      &:after {
         content: '';
         width: 2px;
         flex: 1 1 auto;
         background-color: #cca0f2;

      }

      span {
         display: flex;
         flex-direction: column;
         align-items: center;

         &:before {
            content: '';
            width: 17px;
            height: 17px;
            flex: 0 0 17px;
            background-color: #cca0f2;
            border-radius: 50%;

            @media (min-width:1200px) {
               width: 32px;
               height: 32px;
               flex: 0 0 32px;
            }
         }
      }
   }
}