.page-thanks {
   display: flex;
   flex-direction: column;
   height: 100%;

   .footer {
      flex: 0 0 auto;
      background-color: #1641db;
   }

   .footer__phone {
      margin: 0;
   }

   .header__phone {
      display: block !important;

      @media (max-width:$md2+px) {
         margin: 0;
      }
   }

   .btn {
      display: none !important;
   }

   .social {
      margin: 0 !important;
   }

   .header__text {
      text-align: center;
   }

   .thanks-content {
      text-align: center;
      max-width: 1105px;
      margin: 0 auto;
      padding: 0px 15px;

      @media (min-width:$md2+px) and (max-width:1500px) {
         display: flex;
         align-items: center;
      }
   }

   .thanks-title {
      @include adaptiv-font(58, 24);
      color: #fff;
      margin-bottom: 82px;
      text-align: center;

      @media (min-width:$md2+px) and (max-width:1500px) {
         margin-bottom: 0;
      }
   }

   .thanks-image {
      width: 50%;
      margin: 0 auto;

      @media (min-width:$md3+px) {
         width: 325px;
         height: 277px;
      }
   }
}

.wrapper-thanks {
   overflow-y: auto;
}

.main-thanks {
   flex: 1 0 auto;
   background-color: #386adb;
   background-image: url(../img/intro/intro-decor-left.png);
   background-repeat: no-repeat;
   background-position: left top;
   padding-top: 180px;

   @media (max-width:$md4+px) {
      background-size: 35%;
      background-position: left top;
   }

   @media (min-width:$md3+px) {
      padding-top: 270px;
   }

   @media (min-width:$md2+px) and (max-width:1500px) {
      padding-top: 100px;
      display: flex;
      align-items: center;
   }

}