.why {

   &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $blue;

      @media (min-width:$md2+px) {
         height: 75%;
      }
   }

   padding-top: 50px;

   @media (max-width:$md3+px) {
      padding-bottom: 30px;
   }

   @media (min-width:1200px) {
      padding-top: 120px;
   }

   .section-title {
      color: #fff;
   }

   &__row {
      position: relative;
      z-index: 3;

      @media (min-width:650px) {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         margin-bottom: 17px;

      }
   }

   &__column {
      flex: 0 1 45%;
      margin-bottom: 29px;

      @media (min-width:$md2+px) {
         flex: 0 1 30%;
      }
   }

   &__item {
      box-shadow: 0 11px 17px 1px rgba(76, 126, 248, 0.17);
      border-radius: 10px;
      background-color: #ffffff;
      padding: 20px 20px;
      height: 100%;

      @media (min-width:1200px) {
         min-height: 320px;
         padding: 60px;
      }
   }
}

.container {}

.section-head {}

.section-title {}

.item-why {

   &__title {
      @include adaptiv-font(30, 18);
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 15px;

      @media (min-width:$md2+px) {
         line-height: 30px;
         margin-bottom: 30px;
      }
   }

   &__text {
      @include adaptiv-font(20, 14);

      @media (min-width:$md2+px) {
         line-height: 30px;
      }
   }
}